{% extends "phorms/base.html" %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block container %}

<div class="content">

  <div class="page-header">
    <h1><small>Login</small></h1>
    {% if error_message %}
    <p class="errornote">{{ error_message }}</p>
    {% endif %}
  </div>

  <div class="row">
    <div class="span14">

      <form action="." method="post" id="login-form">
        {% csrf_token %}
        <div class="clearfix">
          <label for="id_username">{% trans 'Username:' %}</label>
          <input type="text" name="username" id="id_username" />
        </div>
        <div class="clearfix">
          <label for="id_password">{% trans 'Password:' %}</label>
          <input type="password" name="password" id="id_password" />
          <input type="hidden" name="next" value={{next}} />
        </div>
        <div class="actions">
   
          <input type="submit" class="btn primary" value="login"/>
        </div>
      </form>
      
    </div><!-- /span14 -->
  </div><!-- /row -->


<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>

{% endblock %}
