{% extends "phorms/base.html" %}

{% block title %}Phorms Create a form{% endblock %}
{% block jscript  %}


{% endblock %}
{% block container %}

<div class="content">
  <div class="page-header">
    <h1><small>To create a survey, enter a survey title, add questions and save</small></h1>
  </div>
  <div class="row">
    <div class="span14">
      
      <form id="create_survey">
	
	<fieldset>
	  <!--<legend>{{ state }}</legend>-->
	  
	  <div class="clearfix">
	    <label for="xlInput">Survey Title</label>
	    <div class="input">
	      <input class="xlarge" name="xlInput" size="200" type="text" />
	    </div>
	  </div><!-- /clearfix -->

	  <div class="actions">
	    <input type="button" id="btnAdd" class="btn primary" value="Add a free text question" />
	    <input type="button" id="btnTF" class="btn primary" value="Add a true false question" />
	  </div>


	  <h3>True of false questions</h3>
	  <div class="clearfix" id="tfinput1">
	    <label for="xlInput">True or False</label>
	    <div class="input">
	      <input class="xlarge" id="tfquestion" size="200" type="text" />
	    </div>
	    
	  </div><!-- /clearfix -->

	  <hr/>
	  <h3>Free text questions</h3>
	  <div class="clearfix" id="input1">
	    <label for="xlInput">Free text Question</label>
	    <div class="input">
	      <input class="xlarge" id="question" name="xlInput" size="200" 
		     type="text" />

	    </div>
	  </div><!-- /clearfix -->

	  <div class="clearfix">
	  
	  </div><!-- /clearfix 
	  <div class="actions">
	    <input type="button" class="btn primary" value="Save Survey">&nbsp;
	    <button type="reset" class="btn">Reset</button>
	  </div>
	  -->
	</fieldset>
      </form>
         
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

  $('#btnAdd').click(function() {
  var num     = $('#question').length; // # of input fields we currently have
  var newNum  = new Number(num + 1);      // the numeric ID of the new input field being added
  
  // create the new element via clone(), and manipulate it's ID using newNum value
  var newElem = $('#input' + num).clone().attr('id', 'input' + newNum);
  
  // manipulate the name/id values of the input inside the new element
  newElem.children(':first').attr('id', 'name' + newNum).attr('name', 'name' + newNum);
 
  // insert the new element after the last "duplicatable" input field
  $('#input' + num).after(newElem);

  });

 $('#btnTF').click(function() {
  var num     = $('#tfquestion').length; // # of input fields we currently have
  var newNum  = new Number(num + 1);      // the numeric ID of the new input field being added
  
  // create the new element via clone(), and manipulate it's ID using newNum value
  var newElem = $('#tfinput' + num).clone().attr('id', 'input' + newNum);
  
  // manipulate the name/id values of the input inside the new element
  newElem.children(':first').attr('id', 'name' + newNum).attr('name', 'name' + newNum);
 
  // insert the new element after the last "duplicatable" input field
  $('#input' + num).after(newElem);

  });
  
  });
</script>
{% endblock %}
