<!-- Show survey details  -->
  <div class="page-header">
    <h2>{{ survey.title }}</h2>
    <small>{{ survey.description}} </small>
  </div>
  <div class="row">
    <div class="span14">
      <div class="clearfix">
        <ul>
          {% for si in surveyitem %}        
          <li>            
            {% if si.is_boolean %}
            <input type="checkbox" name="si_{{si.id}}" value="True"> 
            {{ si.question }}?</input>            
            {% else %}
            {{ si.question }}?
            <input type="text" name="si_{{si.id}}" value="" > 
            {% endif %}
          </li>
          <br/>
          {% endfor %}
        </ul>
        <div class="actions">
          <input type="submit" class="btn primary" name="save_survey" value="Save" />
          <input type="submit" name="cancel" class="btn" value="cancel" />
        </div>
      </div><!-- /clearfix -->
    </div><!-- /span -->
  </div><!-- /row -->
